@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/OpenSans-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
        url(../fonts/OpenSans-Italic.ttf) format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url(../fonts/OpenSans-Bold.ttf) format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url(../fonts/OpenSans-SemiBold.ttf) format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
        url(../fonts/OpenSans-ExtraBold.ttf) format('ttf');
}

/* Заданы общие правила для body и всего HTML */
.body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Header
========================= */
.container__top {
    padding-top: 29px;
    /* height: 688px; TODO Не забыть про высоту контейнера */
    background-color: #f6f2f2;
}
.header {
    display: flex;
    justify-content: center;
    max-width: 1249px;
    min-height: 89px;
    background-color: #000000;
    margin: 0 auto;
}
.nav-menu {
    display: flex;
    align-items: stretch;
}

.nav__links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: -20px;
}

.nav-menu__item { /* li */
    display: flex;
    justify-content: center;
    min-height: inherit; /* ?Должно быть 89px.*/
    transition: background-color .1s linear;
}

.nav-menu__item:hover {
    background-color: #ff3f40;
}

.nav-menu__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.49px;
    line-height: 24px;
    padding: 0 30px;
    color: #e0e0e0;
    text-decoration: none;
    text-transform: uppercase;
}

/* Intro 
=======================*/
.main__block {
    flex-grow: 1;
}

.intro__wrapper{
    background-color: #f6f2f2;
}

.intro {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1249px; /* Нужно создать container, а флекс-элементу ширину 100% */
    padding-top: 103px;
    padding-bottom: 111px;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: #f6f2f2;

}
.intro__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 610px;
    min-height: 340px;
    margin: 0;
    padding: 0;
}

.intro__title {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.5; /* Посмотреть в макете, какой там отступ между строками.*/
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 0;
    margin-bottom: 18px;
    padding-top: 0;
}

.intro__title_mod::first-line{
    line-height: 0.7;
    /* Из-за того, что у h1 при использовании line-height появляется верхний отступ, который невозможно убрать с помощью margin: 0; пришлось уменьшать line-height: для первой строки. В результате, удалось прижать заголовок первого уровня в верхнему краю блока.*/
}

.intro__title_subtitle { 
    letter-spacing: 6px;
    word-break: break-word;
}
.intro__text {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 41px;
    max-width: 512px;
    line-height: 1.75;
    color: #000000;
    opacity: 0.7;
}
.action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.32px;
    border-radius: 5px;
    text-decoration: none;
    padding: 16px 57px;
    margin: 0 0 12px 0;

}
.action-button_intro {
    color: #ffffff;
    background-color: #ff2d2d;
}
.intro__image {
    display: flex;
    box-shadow: 0 -10px 40px 0 rgb(124, 124, 124);
}
.intro__image_image {
    width: 551px;
    height: 356px;
}

/* Services
================= */
.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
    padding-top: 111px;
    padding-bottom: 56px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.services__main-service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 520px;
    max-width: 520px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.services__title {
    max-width: 510px;
    min-height: 87px;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: 0.42px;
    color: #000000;
    opacity: 0.8;
}
.services__text {
    max-width: 510px;
    min-height: 98px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;
    margin-bottom: 55px;
}

.action-button_modified {
    margin: 0;
    color: #ff2d2d;
    border: 1px solid #ff2d2d;
    background-color: #ffffff;
}

.services__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
    max-width: 630px;

}
.service-item {
    max-width: 300px;
    margin-bottom: 50px;
}

.service-item:nth-child(odd) {
    width: 271px;
    margin-right: 50px;
}

.service-item:nth-child(even) {
    width: 300px;
}
.service-icon__wrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.service-item__title {
    font-size: 24px;
    font-weight: 400;
    opacity: 0.7;
    letter-spacing: 0.27px;
    color: #000000;
    margin-bottom: 15px;
}

.service-item__text {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    color: #000000;
    line-height: 1.75;
}

.service-item__title_first {
}

.service-item__title_second {
}
.service-item__title_third {
}
.service-item__title_fourth {
}

/* Horizontal line
================= */

hr {
    margin: 0 auto;
    padding: 0;
    max-width: 1249px;
    height: 2px;
    background-color: #ececec;;
}

/* Features
================= */
.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1249px;
    margin: 0 auto;
    padding-top:95px ;
    padding-bottom: 138;
    padding-left: 1vw;
    padding-right: 1vw;
}
.feature__wrapper {
    text-align: center;
    width: 100%;
    margin-bottom: 88px; /* ! Пересмотреть отступ*/

}
.feature__title {
    padding-left: 14px; /*! Указан на сайте Валерия*/
    margin-bottom: 17px; /* ! Пересмотреть отступ*/
    font-size: 42px;
    font-weight: 700;
    color: #000000;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 0.38px;
}

.feature__text {
    max-width: 505px;
    margin: 0 auto 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;
    opacity: 0.7;
}
.horizontal-short__line {
    width: 132px;
    height: 3px;
    border: none;
    background-color: #ff2d2d;
}

.features__navigation {
    max-width: 1249px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 66px; /* ! Пересмотреть отступ*/
    padding: 0;
}

.features__links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.features__item {
    display: flex;
    justify-content: center;
}

.feature__link {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.22px;
    line-height: 1.09;
    padding: 0 29px;
    color: #000000;
    opacity: 0.7;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .1s linear;
}

.feature__link_mod {
    color:#ff2d2d;
    opacity: 1;
}

.feature__link:hover {
    color: #ff2d2d;

}


/* Features - Portfolio
================= */
.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1248px;
    margin: 0 auto;
}
.portfolio-image {
    width: 25%;
}


/* !!! Работа со вторым меню навигации. Нужно разобраться, с margin and paddings.*/
