/* Сначала подключены шрифты на страницу, чтобы они работали локально */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/OpenSans-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
        url(../fonts/OpenSans-Italic.ttf) format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url(../fonts/OpenSans-Bold.ttf) format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url(../fonts/OpenSans-SemiBold.ttf) format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
        url(../fonts/OpenSans-ExtraBold.ttf) format('ttf');
}

/* Заданы общие правила для body и всего HTML */
body {
    /* TODO найти и вставить ссылку на utube по прижатию футера */
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Header
========================= */
.container-top {
    padding-top: 29px;
    height: 688px;
    background-color: #e0e0e0;
}
.header-top {
    display: flex;
    justify-content: center;
    max-width: 1249px;
    background-color: #000000;
    margin: 0 auto;
    min-height: 89px;
}
.header-top__menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.header-top__menu-list {
}
.menu__item {
}
.header-top-menu__link {
}