@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/OpenSans-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
        url(../fonts/OpenSans-Italic.ttf) format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url(../fonts/OpenSans-Bold.ttf) format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url(../fonts/OpenSans-SemiBold.ttf) format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
        url(../fonts/OpenSans-ExtraBold.ttf) format('ttf');
}

/* Заданы общие правила для body и всего HTML */
.body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-left: 1vw;
    padding-right: 1vw;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Header
========================= */
.container__top {
    padding-top: 29px;
    /* height: 688px; TODO Не забыть про высоту контейнера */
    background-color: #f6f2f2;
}
.header {
    display: flex;
    justify-content: center;
    max-width: 1249px;
    background-color: #000000;
    margin: 0 auto;
    min-height: 89px;
}
.nav-menu {
    display: inline-flex;
    align-items: stretch;
}

.nav__links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: -20px;
}

.nav-menu__item { /* li */
    display: flex;
    justify-content: center;
    min-height: inherit; /* ?Должно быть 89px.*/
    transition: background-color .1s linear;
}

.nav-menu__item:hover {
    background-color: #ff3f40;
}

.nav-menu__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.49px;
    line-height: 24px;
    padding: 0 30px;
    color: #e0e0e0;
    text-decoration: none;
    text-transform: uppercase;
}

/* Intro 
=======================*/
.main__block {
    flex-grow: 1;
}

.intro__wrapper {

}

.intro__wrapper_color {
    background-color: #f6f2f2;
}

.intro {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1249px; /* Нужно создать container, а флекс-элементу ширину 100% */
    padding-top: 103px;
    padding-bottom: 111px; /* 94px В образце*/
    background-color: #f6f2f2;
}
.intro__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 610px;
    min-height: 340px;
    margin: 0;
    padding: 0;
}

.intro__title {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.5; /* Посмотреть в макете, какой там отступ между строками.*/
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 0;
    margin-bottom: 18px;
    padding-top: 0;
}

.intro__title_mod::first-line{
    line-height: 0.7;
    /* Из-за того, что у h1 при использовании line-height появляется верхний отступ, который невозможно убрать с помощью margin: 0; пришлось уменьшать line-height: для первой строки. В результате, удалось прижать заголовок первого уровня в верхнему краю блока.*/
}

.intro__title_subtitle { 
    letter-spacing: 6px;
    word-break: break-word;
}
.intro__text {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 41px;
    max-width: 512px;
    line-height: 1.75;
    color: #000000;
    opacity: 0.7;
}
.intro-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    border-radius: 5px;
    text-decoration: none;
    padding: 16px 63px;
    margin: 0 0 12px 0;

}
.intro-button_mod {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: #ff2d2d;
}
.intro-image__link {
    display: flex;
    width: 551px;
    height: 356px;
    box-shadow: 0 -10px 40px 0 rgb(124, 124, 124);
    margin: 0;
    padding: 0;

}
.intro-image__link-link {
}
.intro__image {
}


/* TODO Остановился на картинке. Получилось поднять её выше кнопки за счет присваивания картинке ширины и высоты.*/
